
@model System.String
@{
    <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="@Model">
        <i class="mdi mdi-library-books"></i>
        <span style="white-space: pre;">  </span>
        <span class="menu-title">Mục lục</span>
    </a>

}
