<a class="nav-link text-dark" asp-area="" asp-controller="Verification" asp-action="Index">
    <i class="mdi mdi-contrast-box"></i>
    <span style="white-space: pre;">  </span>
    <span class="menu-title">Duyệt</span>
</a>
