@{
    ViewData["Title"] = "Giới thiệu";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/typicons/typicons.css">
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/lib/vertical-layout-light/style.css">
    <!-- endinject -->
</head>
<body>
     <div class="container-fluid page-body-wrapper">
        <partial name="_NavPartial" />
        <div class="main-panel">
            <div class="content-wrapper " style="border-radius:10px;">
            <div class="row">
                <div class="col-md-7 grid-margin grid-margin-md-0 stretch-card">
                        <div class="card" style="border-radius:10px;">
                        <div class="card-body" >
                            <h2 class="card-title">Giới thiệu</h2>
                            <ul class="list-ticked">
                                <li>Tên gọi chính thức: THƯ VIỆN THÀNH PHỐ HỒ CHÍ MINH</li>
                                <li>Tên giao dịch quốc tế: HO CHI MINH CITY LIBRARY</li>
                                <li>Địa chỉ: Số 31 - Tràng Thi - Hoàn Kiếm - Tp. Hồ Chí Minh</li>
                                <li>Điện thoại: 024-38255397 (tổng đài)</li>
                                <li>Fax: 024-38253357</li>
                                <li>Website: <a href="https://localhost:7222/">https://localhost:7222/</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 grid-margin grid-margin-md-0 stretch-card">
                    <div class="card" style="border-radius:10px;">
                        <div class="card-body row align-items-center h-100">
                            <table>
                                <tr>
                                    <th>
                                        <figure class="avatar mx-auto mb-4 mb-md-0">
                                            <img src="~/picture/logo.png" alt="MDN" style="max-width:100%; max-height:100%; object-fit:contain;" />
                                        </figure>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="pic-description">
                                        <div> Logo thư viện Tp. Hồ Chí Minh</div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                    <div class="card" style="border-radius:10px;">
                        <div class="card-body">
                            <h3 class="card-title">Định hướng phát triển</h3>
                            <ul class="" style=" list-style-type:none;">
                                <li>Thư viện Tp. Hồ Chí Minh đã, đang và sẽ phấn đấu không ngừng để trở thành nơi lưu truyền tri thức và khơi nguồn cảm hứng thực sự tin cậy, thân thiện của bạn đọc trong và ngoài nước, có uy tín và vị thế xứng đáng trong cộng đồng thư viện Việt Nam, khu vực và thế giới. Để hoàn thành tốt các mục tiêu này, Thư viện Quốc gia Việt Nam sẽ tập trung thực hiện.</li>
                                <li> <b>Thứ nhất:</b> Tăng cường công tác thu thập, bảo tồn, phát huy di sản văn hóa chữ viết và xây dựng Bảo tàng tư liêu Việt Nam (trên các chất liệu: đất nung, đá, gốm, sứ, lá, gỗ, tre, nứa, giấy, đồng... ).</li>
                                <li><b>Thứ hai:</b> Tiếp tục làm tốt công tác bồi dưỡng, rèn luyện, nâng cao năng lực chuyên môn, giáo dục phẩm chất nghề nghiệp, lòng yêu nghề, tinh thần trách nhiệm, tâm huyết với công việc cho mỗi viên chức và người lao động.</li>
                                <li><b>Thứ ba:</b> Phát triển theo hướng xây dựng thư viện truyền thống - thư viện hiện đại - thư viện số, trong đó việc ứng dụng công nghệ thông tin để lưu giữ, khai thác tài nguyên thông tin là xu hướng quan trọng để phát triển, tiến tới hình thành mạng lưới thư viện truyền thống – thư viện hiện đại – thư viện số rộng khắp trong cả nước.</li>
                                <li> <b>Thứ tư:</b> Xây dựng môi trường đọc thân thiện, sáng tạo, tạo môi trường học, đọc suốt đời cho mọi người dân. Hướng tới mục tiêu chung “Tất cả vì bạn đọc” bằng nhiều phương thức phục vụ, như đọc tại trụ sở thư viện, đọc trên mạng thông qua website của Thư viện Tp. Hồ Chí Minh. </li>
                                <li> <b>Thứ năm:</b> Phối hợp chặt chẽ với các Ban, Bộ, ngành, với cộng đồng Thư viện, Thông tin trong nước và quốc tế để thực hiện tốt mục tiêu Thống nhất, chuẩn hoá, chia sẻ và hội nhập nâng cao chất lượng về chuyên môn, nghiệp vụ.</li>
                                <li><b>Thứ sáu:</b> Mở rộng hợp tác quốc tế trong việc trao đổi tài liệu, kinh nghiệm tổ chức và quản lý thư viện hiện đại, đào tạo nguồn nhân lực đáp ứng yêu cầu của thời đại “kinh tế tri thức” hay “tri thức phục vụ phát triển kinh tế - xã hội”.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
     </div>
</body>
