@{
    ViewData["Title"] = "Trang chủ";
}
<div class="container-fluid page-body-wrapper">
    <partial name="_NavPartial" />
    <div class="main-panel" >
        <div class="content-wrapper">
            <center>
                <picture>
                    <source srcset="~/picture/logo.png" media="(min-width: 600px)" />
                    <img src="~/picture/logo.jpg" height="220" width="520" alt="MDN" />
                </picture>
            </center>

            <div class="text-center">
                <h2 class="display-5" style="font-size:30pt;">Đây là trang chính thức của thư viện thành phố Hồ Chí Minh</h2>
                <p></p>
            </div>

        </div>
    </div>
</div>



